
.list-item{
    color: red;
}
form{
    border: 2px solid black;
    width: 300px;
    height: 500px;
    position: block;
    margin-left: auto;
    margin-right:auto ;
    padding: 20px;
}
form h2{
    text-align: center;
}
.row input:required{
    background-color: rgb(215, 225, 253,0.8);
}
.row input:focus{
    background-color: rgb(65, 105, 225,0.8);
}
.container{
    display: flex;
    grid-row: 2;
    margin: 100px;
}
.NOS img{
    height: 260px;
}
.monster img{
    width: 300px;
    height: 300px;
}
.rockstar img{
    width: 300px;
    height: 300px;
}
.redbull img{
    width: 300px;
    height: 300px;
}
.headin{
    text-align: center;
    background-color: rgb(80, 148, 148);
    padding: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:block;
    top: 0
}